.hd{
    background-color: #FFF5E0;
    text-align: center;
    padding-top: 290px;
    color: #BB2525;
}
hr{
    margin: 80px auto;
    border: dotted gray 6px;
    border-bottom: none;
    width:5%;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
h2{
    font-family: 'Tilt Prism', cursive,serif;
    font-size: 2.5rem;
    padding: 10px 0;
    font-weight: bold;
}
h1{
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cubrsive;
    font-size: 3rem;
    
}
h3{
    color: #11999E;
    font-size: 1.5rem;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
    margin: 30px 20px;
    text-decoration: none;
}
a:hover{
    color: red;
}
.middle-container{
    padding-top: 30px;
}
.bottom-container{
    background-color: #FFF5E0;
    padding: 30px;
}

.bottom{
    position: absolute;
    left: 250px;
    top: 60%;
}
.top{
    position: absolute;
    right: 350px;
    bottom: 65%;
}
.sun{
    height: 70px;
    width: 5%;
    position: absolute;
    bottom:70%;
    left: 30%;
}
@media (max-width:1024px) {
    .sun{
        display: none;
    }
    .top,.bottom{
        display: none;
    }
    .mt{
        height: 400px;
        width: 80%;
    }
}
.skill-row{
    width: 50%;
    margin: 30px auto;
    text-align: left;
    line-height: 2;

}
.skimg{
    float:left;
    padding-right: 30px;
}
.skimg1{
    float:right;
    padding-right: 30px;
}
.skill-row3{
    line-height: 3; 
    text-align: center;
}
@media screen and (max-width:768px) {
    .body{
        width: 50%;
    }
    .intro{
        width: 100%;
        margin: 0 0;
    }
    .abph{
        width: 600px;
        height: 200px;
        margin: 5% auto;
    }
    .intro-1{
        margin: 40% 1%;
    }
    .intro-1 h4{
        text-align: center;
    }
    .skill-row{
        width: 100%;
        padding: 0 20px;
        margin: 30px auto;
    }
}

.tron {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #F3F5F5;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
    background-color: #BB2525;
    -webkit-box-shadow: 4px 1px 20px 0 #FFF5E0;
    -moz-box-shadow: 4px 1px 20px 0 #FFF5E0;
    box-shadow: 4px 1px 20px 0 #FFF5E0;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 50px auto;
    font-family: 'Montserrat', sans-serif;
 } 
 
 .tron:hover {
    background: #000000;
    border: solid #141E46 5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
 }
.intro{
    margin: 0 auto;
}
.copy{
    color: #000000;
    font-size: 0.8rem;
    padding-bottom: 1px;

}
.navig{
    background-color:#FF6969;
    color: #fff;
}
.intro-1{
    padding-top: 10%;
    text-align: left;
    line-height: 3;
    font-size: 1.2rem;
}
.abthead{
    padding: 1.5% 0;
    background-color: #FFF5E0;
}
.abph{
    padding-top: 10%;
}
.cont{
    padding: 7% 10%;
}
.box{
    height: 800px;
    width: 50%;
    margin: 0 5%;
}
.card{
    background-color: #FFF5E0;
    height: 250px;
}
.card-body{
    text-align: center;
    margin-top: 35px;

}
.icon{
    height: 120px;
}
@media (max-width:1024px) {
    .cont{
        padding-left: 15%;
    }
    .box{
        width: 80%;
    }
}
